<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ab6fbd09-bc55-4026-a995-dfb30c0cb84f/resourceGroups/rg-filmes-prod/providers/Microsoft.Web/sites/filmes-api-victorhugo-miyashiro</ResourceId>
    <ResourceGroup>rg-filmes-prod</ResourceGroup>
    <ApiResourceId>/subscriptions/ab6fbd09-bc55-4026-a995-dfb30c0cb84f/resourceGroups/rg-filmes-prod/providers/Microsoft.ApiManagement/service/FilmesApiapi/apis/FilmesApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://filmes-api-victorhugo-miyashiro.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e43af57c-6027-4536-a2f7-884cf4fbcb5f</ProjectGuid>
    <MSDeployServiceURL>filmes-api-victorhugo-miyashiro.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>filmes-api-victorhugo-miyashiro</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>